/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

/* Estilo del contenedor */
.container {
    width: 40%; /* Mantén el tamaño general del contenedor */
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center; /* Para centrar los elementos */
}

input[type="text"],
input[type="number"] {
    width: 60%; /* Ajusta el ancho de los campos de entrada para que sean más pequeños */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}

/* Botón de registrar */
button {
    background-color: #007bff; /* Color del botón azul */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    width: 40%; /* Botón más pequeño */
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3; /* Color hover */
}

/* Tabla de productos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}

td a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}






